html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
  font-size: larger;
}

canvas {
  outline: 0.6px auto white;
  display: block;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  position: absolute;
}
